<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uapps Share</title>
    <link rel="stylesheet" href="{{url}}assets/style.css">
    {{!-- <meta http-equiv = "refresh" content = "0; url = {{urlRedirect}}" /> --}}
    {{!-- Meta SEO --}}
    <link rel="canonical" href = "{{urlRedirect}}">
    <meta name="title" content="{{titleProduct}}" />
    <meta name="description" content="{{descriptionProduct}}" />

    <meta name="og:title" content="{{titleProduct}}" />
    <meta name="og:description" content="{{descriptionProduct}}" />
    <meta name="og:type" content="content" />
    <meta name="og:locale" content="id_ID" />
    <meta name="og:locale:alternate" content="ms_MY" />
    <meta name="og:image" itemprop="image" content="{{urlImage}}" />
    <meta name="og:site_name" content="{{urlRedirect}}" />
    <meta name="og:url" content="{{urlRedirect}}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{{urlImage}}" />
    <meta name="twitter:creator" content="ITAPP" />
    <meta name="twitter:description" content="{{descriptionProduct}}" />
    <meta name="twitter:title" content="{{titleProduct}}" />
    {{!-- End --}}
</head>
<body>
    <div>
        <p>{{textDisplay}}</p>
    </div>
</body>
</html>